.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 10px 20px 10px;
  margin-bottom: 15px;
}

.screen-header__title {
  font-size: 18px;
  font-weight: 600;
}

.screen-header__icons span {
  margin-left: 15px;
}

.user-component__subtitle {
  margin-top: 8px;
  color: rgba(0, 0, 0, 0.7);
}

@keyframes rotateCog {
  form {
  }
  to {
    transform: rotateZ(360deg);
  }
}

.screen-header__icons .fa-cog:hover {
  animation: rotateCog 1s linear infinite;
}
