.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 10px 20px 10px;
  margin-bottom: 15px;
}

.screen-header__title {
  font-size: 18px;
  font-weight: 600;
}

.screen-header__icons span {
  margin-left: 15px;
}

.user-component__subtitle {
  margin-top: 8px;
  color: rgba(0, 0, 0, 0.7);
}

@keyframes bounsMusic {
  0% {
    transform: translate(-5%, -5%) scale(1.25, 0.75);
  }
  5% {
    transform: translate(-5%, -100%) scale(1, 1);
  }
  /* 55% {
    transform: translate(-5%, -150%) rotate(15deg);
  }
  60% {
    transform: translate(-5%, -150%) rotate(-15deg);
  }
  65% {
    transform: translate(-5%, -150%) rotate(15deg);
  }
  70% {
    transform: translate(-5%, -150%) rotate(-15deg); 
  }*/
  100% {
    transform: translate(-5%, -5%) scale(1.25, 0.75);
  }
}

.screen-header__icons .fa-music:hover {
  animation: bounsMusic 1s linear infinite;
  animation-delay: 0.5s;
}

@keyframes rotateCog {
  form {
  }
  to {
    transform: rotateZ(360deg);
  }
}

.screen-header__icons .fa-cog:hover {
  animation: rotateCog 1s linear infinite;
}
